@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #39C1F8;
  --secondary-color: #C3C3C3;
  --hover-primary-color: #66D9EF;
  --text-color: #5A5A5A;
  --white-color: #FFFFFF;
  --header-text-color: #424242;
  --token-background-color: #E4F5FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-size-200 {
    background-size: 200%;
  }
  .bg-pos-0 {
    background-position: 0 0;
  }
  .bg-right-200 {
    background-position: 100% 0;
  }
}
